@model WebApplication2.Models.Miejscowosc

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Miejscowosc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aktualna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aktualna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WojewodztwoMiejscowosci)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WojewodztwoMiejscowosci.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
