@model WebApplication2.Models.Zajecia

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zajecia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kurs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kurs.Kod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sala.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Termin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Termin.Dzien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
