@model IEnumerable<WebApplication2.Models.PrzystosowanieSali>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pojemnosc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StawkaZaZajecia)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Dyscyplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poziom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pojemnosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StawkaZaZajecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dyscyplina.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poziom.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
